<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Linear_regression_scatterplot_with_generic_formula.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Elasticsearch plugin for linear regression</h3>
    <p>A machine learning plugin for Elasticsearch providing aggregations to compute multiple linear regression on search results in real-time for predictive analytics.</p>
    <a class="project-link" href="https://github.com/scaleborn/elasticsearch-linear-regression">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/logsniffer-ipad-log-view-400.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>logsniffer</h3>
    <p>logsniffer is a sophisticated open source web tool for parsing, viewing, monitoring and analyzing log data - smarter, collaborative and easier.</p>
    <a class="project-link" href="https://github.com/logsniffer/logsniffer">Check it out</a>
  </div>
</div>
